#include "\masm32\include\resource.h"
#define IDC_EDIT 3000
#define IDC_BUTTON 3001
#define IDC_EXIT 3002
#define IDM_GETTEXT 32000
#define IDM_CLEAR 32001
#define IDM_EXIT 32003

MyDialog DIALOG 10, 10, 205, 60 
STYLE 0x0004 | DS_CENTER | WS_CAPTION | WS_MINIMIZEBOX | WS_SYSMENU | 
	WS_VISIBLE | WS_OVERLAPPED | DS_MODALFRAME | DS_3DLOOK 
CAPTION "Our First Dialog Box" 
CLASS "DLGCLASS" 
BEGIN  
	EDITTEXT IDC_EDIT, 15,17,111,13, ES_AUTOHSCROLL | ES_LEFT  
	DEFPUSHBUTTON "Say Hello", IDC_BUTTON, 141,10,52,13  
	PUSHBUTTON "E&xit", IDC_EXIT, 141,26,52,13, WS_GROUP 
END

MyMenu MENU 
BEGIN  
	POPUP "Test Controls"  
	BEGIN  
		MENUITEM "Get Text", IDM_GETTEXT  
		MENUITEM "Clear Text", IDM_CLEAR  
		MENUITEM "", , 0x0800 /*MFT_SEPARATOR*/  
		MENUITEM "E&xit", IDM_EXIT  
	END 
END 
