// Created with Visual MASM

#include <C:\Program Files\Microsoft SDKs\Windows\v7.1\Include\windows.h>
#include <C:\Program Files\Microsoft SDKs\Windows\v7.1\Include\commctrl.h>
#include <C:\Program Files\Microsoft SDKs\Windows\v7.1\Include\richedit.h>


DesignForm DIALOGEX 0, 0, 369, 232
STYLE  WS_CAPTION | WS_SIZEBOX | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP
CAPTION "DesignForm"
CLASS "DLGCLASS"
{
}
