// Created with Visual MASM

#include <C:\Program Files\Microsoft SDKs\Windows\v7.1\Include\windows.h>
#include <C:\Program Files\Microsoft SDKs\Windows\v7.1\Include\commctrl.h>
#include <C:\Program Files\Microsoft SDKs\Windows\v7.1\Include\richedit.h>

#define vmLabel1 1
#define btnOk 2
#define btnCancel 3
#define vmEdit1 4
#define vmCheckbox1 5
#define vmRadioButton1 6
#define vmComboBox1 7
#define vmListBox1 8
#define vmListView1 9
#define vmGroupBox1 10
#define vmScrollBar1 11

frmMain_1 DIALOGEX 0, 0, 711, 488
STYLE  WS_CAPTION | WS_SIZEBOX | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "*Dialog2.dlg"
{
   LTEXT "vmLabel1", vmLabel1, 232, 64, 45, 13
   DEFPUSHBUTTON "Ok", btnOk, 600, 408, 75, 25, BS_PUSHBUTTON | BS_CENTER 
   PUSHBUTTON "Cancel", btnCancel, 512, 408, 75, 25, BS_PUSHBUTTON | BS_CENTER 
   EDITTEXT vmEdit1, 384, 80, 121, 21
   CHECKBOX "vmCheckbox1", vmCheckbox1, 120, 136, 97, 17
   RADIOBUTTON "vmRadioButton1", vmRadioButton1, 320, 184, 113, 17
   COMBOBOX vmComboBox1, 136, 216, 145, 21
   LISTBOX vmListBox1, 320, 216, 121, 97
   CONTROL "", vmListView1, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT, 44, 256, 250, 150
   GROUPBOX "vmGroupBox1", vmGroupBox1, 464, 168, 185, 105
   SCROLLBAR vmScrollBar1, 56, 24, 121, 17
}
